{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-10 ml-md-auto">
      <div class="card bg-light mb-3 mt-5" style="width: 800px">
        <div class="card-body">
          <div class="card-header mb-3">Information change</div>
          {{ form_start(form) }}
            <div class="form_group">
              <div class="col-md-12 mb-3">
                {{ form_row(form.author, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                {{ form_row(form.country, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                {{ form_row(form.genre, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                {{ form_row(form.fees, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                {{ form_row(form.placeInTheTop, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                {{ form_row(form.numberOfAwards, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                {{ form_row(form.commentTop, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                {{ form_row(form.review, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                {{ form_row(form.criticism, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                {{ form_row(form.publicationDate, {'attr': {'class':'form-control'}}) }}
                {{ form_row(form.authorIsDateOfBirth, {'attr': {'class':'form-control'}}) }}
                {{ form_row(form.developmentDate, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group" >
              <div class="col-md-12 mb-3">
                {{ form_row(form.integrityOfHistory, {'attr': {'class':'form-control'}}) }}
                {{ form_row(form.oneAuthor, {'attr': {'class':'form-control'}}) }}
                {{ form_row(form.abultContent, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
          <div class="form-group">
            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-btn fa-user"></i> Update
              </button>
            </div>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/equipment.js') }}"></script>
{% endblock %}