{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-10 ml-md-auto">
      <div class="card bg-light mb-3 mt-5" style="width: 800px">
        <div class="card-body">
          <div class="card-header mb-3">{{ 'Information change'|trans }}</div>
          {{ form_start(form) }}
            <div class="form_group">
              <div class="col-md-12 mb-3">
                <p>{{ 'Author'|trans }}</p>
                {{ form_row(form.author, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                <p>{{ 'Country'|trans }}</p>
                {{ form_row(form.country, {'attr': {'class': 'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                <p>{{ 'Genre'|trans }}</p>
                {{ form_row(form.genre, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                <p>{{ 'Fees'|trans }}</p>
                {{ form_row(form.fees, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                <p>{{ 'Place in the top'|trans }}</p>
                {{ form_row(form.placeInTheTop, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                <p>{{ 'Number of awards'|trans }}</p>
                {{ form_row(form.numberOfAwards, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                <p>{{ 'Comment top'|trans }}</p>
                {{ form_row(form.commentTop, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                 <p>{{ 'Review'|trans }}</p>
                {{ form_row(form.review, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                <p>{{ 'Criticism'|trans }}</p>
                {{ form_row(form.criticism, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group">
              <div class="col-md-12 mb-3">
                <p>{{ 'Publication date'|trans }}</p>
                {{ form_row(form.publicationDate, {'attr': {'class':'form-control'}}) }}
                <p>{{ 'Author is date of birth'|trans }}</p>
                {{ form_row(form.authorIsDateOfBirth, {'attr': {'class':'form-control'}}) }}
                <p>{{ 'Date development'|trans }}</p>
                {{ form_row(form.developmentDate, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
            <div class="form_group" >
              <div class="col-md-12 mb-3">
                <p>{{ 'Integrity of history'|trans }}</p>
                {{ form_row(form.integrityOfHistory, {'attr': {'class':'form-control'}}) }}
                <p>{{ 'One author'|trans }}</p>
                {{ form_row(form.oneAuthor, {'attr': {'class':'form-control'}}) }}
                <p>{{ 'Abult content'|trans }}</p>
                {{ form_row(form.abultContent, {'attr': {'class':'form-control'}}) }}
              </div>
            </div>
          <div class="form-group">
            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-btn fa-user"></i> {{ 'Update'|trans }}
              </button>
            </div>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}

{% endblock %}