{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
  <div class="card bg-light mb-3 mt-3">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">{{'Search'|trans }}</h1>
      </div>
    </div>
    <div class="row g-5">
      <div class="col-md-8">
        <div class="row" id="items">
          {% for item in items %}
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <strong class="d-inline-block mb-2 text-primary">{{ 'Item'|trans }}</strong>
                  <h3 class="mb-0">
                    <a class="text-dark" href="{{ path('item_list', {'id':item.id}) }}">{{ item.nameItem }}</a>
                  </h3>
                  <div class="mb-1 text-muted">
                    {% for tag in item.tags %}
                      #{{ tag.name }} 
                    {% endfor %} 
                  </div>
                  <p class="card-text mb-auto">{{ 'Collection:'|trans }} {{ item.collections }} </p>
                </div>
              </div>
            </div>
          {% endfor %}
          {% for tag in tags %}
            {% for n in tag.items %}
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body">
                      <strong class="d-inline-block mb-2 text-primary">{{ 'Item'|trans }}</strong>
                      <h3 class="mb-0">
                        <a class="text-dark" href="{{ path('item_list', {'id':n.id}) }}">{{ n.nameItem }}</a>
                      </h3>
                      <div class="mb-1 text-muted">
                        {% for tag in n.tags %}
                          #{{ tag.name }} 
                        {% endfor %}  
                      </div>
                      <p class="card-text mb-auto">{{ 'Collection:'|trans }} {{ n.collections }} </p>
                    </div>
                  </div>
                </div>
            {% endfor %}
          {% endfor %}
        </div> 
      </div>
    </div>
  </div>
</div>

{% endblock %}