{# templates/list/index.html.twig #} {% extends 'base.html.twig' %} {% block
body %}
<div class="container">
  <div class="card bg-light mb-3 mt-3">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Collections Application</h1>
        <p class="lead my-3">This application has the ability to create collections with items that can have tags and other information.</p>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          Items
        </h3>
        <div class="row" id="last_items">
          {% for items in last_items %}
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <strong class="d-inline-block mb-2 text-primary">{{ 'Item'|trans }}</strong>
                  <h3 class="mb-0">
                    <a class="text-dark" href="{{ path('item_list', {'id':items.id}) }}">{{ items.nameItem }}</a>
                  </h3>
                  <div class="mb-1 text-muted">
                    {% for tag in items.tags %}
                      #{{ tag.name }} 
                    {% endfor %} 
                  </div>
                  <p class="card-text mb-auto">{{ 'Collection:'|trans }} {{ items.collections }} </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div> 

        <div class="row" id="first_items">
          {% for items in first_items %}
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <strong class="d-inline-block mb-2 text-primary">{{ 'Item'|trans }}</strong>
                  <h3 class="mb-0">
                    <a class="text-dark" href="{{ path('item_list', {'id':items.id}) }}">{{ items.nameItem }}</a>
                  </h3>
                  <div class="mb-1 text-muted">
                    {% for tag in items.tags %}
                      #{{ tag.name }} 
                    {% endfor %} 
                  </div>
                  <p class="card-text mb-auto">{{ 'Collection:'|trans }} {{ items.collections }} </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="row" id="all_items">
          {% for items in items %}
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <strong class="d-inline-block mb-2 text-primary">{{ 'Item'|trans }}</strong>
                  <h3 class="mb-0">
                    <a class="text-dark" href="{{ path('item_list', {'id':items.id}) }}">{{ items.nameItem }}</a>
                  </h3>
                  <div class="mb-1 text-muted">
                    {% for tag in items.tags %}
                      #{{ tag.name }} 
                    {% endfor %} 
                  </div>
                  <p class="card-text mb-auto">{{ 'Collection:'|trans }} {{ items.collections }} </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">Filters</h4>
            <p class="mb-0">
              <div>
                <h6>Items</h6>
                <form class="ml-md-2">
                    <div class="form-inline border rounded p-sm-2 my-2"> <input type="radio" name="type" id="last" onclick="showThis(this)" checked> <label for="last" class="pl-1 pt-sm-0 pt-1">6 last added</label> </div>
                    <div class="form-inline border rounded p-sm-2 my-2"> <input type="radio" name="type" id="first" onclick="showThis(this)"> <label for="first" class="pl-1 pt-sm-0 pt-1">6 first added</label> </div>
                    <div class="form-inline border rounded p-sm-2 my-2"> <input type="radio" name="type" id="all" onclick="showThis(this)"> <label for="all" class="pl-1 pt-sm-0 pt-1">All items</label> </div>
                </form>
              </div>
            </p>
          </div>

          <div class="p-4">
            <h4 class="fst-italic">Tags</h4>
            <ol class="list-unstyled mb-0">
              {% for tag in tags %}
                <h5><a href="#">#{{ tag.name }} </a></h5>
              {% endfor %} 
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script>
    function showThis (box) {
      let blok1 = document.querySelector('#last');
      let blok2 = document.querySelector('#first');
      let blok3 = document.querySelector('#all');
      if(blok1.checked) {
        document.getElementById("last_items").style.display = "block";
        document.getElementById("first_items").style.display = "none";
        document.getElementById("all_items").style.display = "none";
      }else if(blok2.checked) {
        document.getElementById("last_items").style.display = "none";
        document.getElementById("first_items").style.display = "block";
        document.getElementById("all_items").style.display = "none";
      }else if(blok3.checked) {
        document.getElementById("last_items").style.display = "none";
        document.getElementById("first_items").style.display = "none";
        document.getElementById("all_items").style.display = "block";
      }
    }
  </script>
{% endblock %}

